* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  background-color: #fff200;
  font-family: "Raleway", sans-serif;
  color: #1f1a51;
}

.section {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
}

#logo {
  min-height: 5rem;
  max-height: 20rem;
  max-width: 100%;
  transition: transform 0.125s cubic-bezier(0.5, 0, 0.25, 2);
}

#logo:hover {
  transform: scale(1.02);
}

#headline {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  max-width: 20rem;
}

#description {
  font-size: 1rem;
  text-align: center;
  max-width: 25rem;
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #43c7f4;
  text-decoration: underline;
}

.navbar {
  position: fixed;
  top: 0;
  height: 5rem;
  opacity: 0.9;
  width: 100%;
  background-color: #fff200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-media {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  display: flex;
  align-items: center;
}

ul li:not(:first-child) {
  margin-left: 0.5rem;
}

li img {
  height: 2.3rem;
  transition: transform 0.125s cubic-bezier(0.5, 0, 0.25, 2);
}

li:nth-child(odd) img:hover {
  transform: scale(1.5) rotate(-9deg);
}

li:nth-child(even) img:hover {
  transform: scale(1.5) rotate(9deg);
}
