* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: calc(100% - 2rem);
  background-color: #fff200;
  font-family: "Raleway", sans-serif;
  color: #1f1a51;
  margin: 0 1rem;
}

.section {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100% - 5rem);
  min-width: 100%;
}

#logo {
  min-height: 5rem;
  max-height: 20rem;
  max-width: 100%;
  transition: transform 0.125s cubic-bezier(0.5, 0, 0.25, 2);
}

#logo:hover {
  transform: scale(1.02);
}

.headline {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  max-width: 25rem;
}

.description {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
  max-width: 25rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: transform 0.125s cubic-bezier(0.5, 0, 0.25, 2);
}

a:hover {
  color: #43c7f4;
  text-decoration: underline;
  transform: scale(1.02);
}

.navbar {
  position: fixed;
  top: 0;
  height: 5rem;
  opacity: 0.9;
  width: calc(100% - 2rem);
  background-color: #fff200;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar li:not(:first-child) {
  margin-left: 0.5rem;
}

.social-media {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  display: flex;
  align-items: center;
}

.social-media li {
  margin: 0 0.3rem;
}

.social-media li img {
  height: 2.3rem;
  transition: transform 0.125s cubic-bezier(0.5, 0, 0.25, 2);
}

.social-media li:nth-child(odd) img:hover {
  transform: scale(1.5) rotate(-9deg);
}

.social-media li:nth-child(even) img:hover {
  transform: scale(1.5) rotate(9deg);
}

#about .description {
  text-align: left;
}

.sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.sponsor img {
  height: 10rem;
  width: 15rem;
  object-fit: contain;
  object-position: center;
}

.highlight-a a {
  color: #43c7f4;
}

.friends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.friend img {
  height: 10rem;
  width: 15rem;
  margin: 1rem 0;
  object-fit: contain;
  object-position: center;
}
