* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-color: #FFF200;
  font-family: 'Open Sans Condensed', sans-serif;
}

#logo {
  height: 30rem;
  transition: transform 0.125s cubic-bezier(0.5, 0, 0.25, 2);
}

#logo:hover {
  transform: scale(1.05);
}

#headline {
  margin-top: 1rem;
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
}

a {
  color: inherit;
  text-decoration: none;  
}

a:hover {
  text-decoration: underline;
}

ul {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

ul li {
  display: flex;
  align-items: center;  
}

ul li:not(:first-child) {
  margin-left: 0.5rem;
}

li img {
  height: 2.3rem;
  transition: transform 0.125s cubic-bezier(0.5, 0, 0.25, 2);
}

li:nth-child(odd) img:hover {
  transform: scale(1.5) rotate(-9deg);
}

li:nth-child(even) img:hover {
  transform: scale(1.5) rotate(9deg);
}